h1{
  color: red
}

#para1{
  color: hotpink;
  background-color: aqua;
}

.fundo-cyan{
  background-color: cyan;
}

#sla1{
  width: 700px;
  height: 400px;
  background-color: brown;
  background-image: url(../images/Fundo_abstrato.jpg);
  background-position: bottom right;
  background-size: cover;
}

#sla2{
  height: 200px;
  background: linear-gradient(to right, red -40%, blue 140%)
}

#blue1{
  background-color: blue;
  width: 550px;
  height: 320px;
}

#red1{
  background-color: red;
  width: 550px;
  height: 320px;
}

.foto1{
  height: 250px;
}