*{
   margin: 0;
   padding: 0;
}

body{
   background-color: #02162c;

}

header{
   color: white;
   background-color: #000d1a;
   display: flex;
   padding-bottom: 35px;
}

.logo{
   width: 163px;
   height: 72px;
   margin-top: 38px;
   margin-left: 60px;
}

.ul1{
   display: flex;
   list-style: none;
   font-weight: bold;
   margin-top: 63px;
   margin-left: 40px;
}

.li1{
   margin-left: 16px;
}

.ul2{
   list-style: none;
   margin-left: 37%;
}

.li2{
   float: left;
}